<zoo-header imgsrc="assets/logo.png" headertext="Zoo web components in Angular"></zoo-header>

<form class="form" [formGroup]="form" (ngSubmit)="submit(form)">
	<zoo-select valid="{{!form.controls.select.touched || form.controls.select.valid ? 1 : ''}}" 
		inputerrormsg="Name is required" labeltext="Name">
		<select formControlName="select" slot="selectelement">
			<option *ngFor="let option of options" [value]="option.id">{{ option.firstName }} {{ fc.lastName }}</option>
		</select>
	</zoo-select>
	<zoo-input valid="{{!form.controls.input.touched || form.controls.input.valid ? 1 : ''}}" 
		labeltext="Input date field" 
		inputerrormsg="Invalid value" 
		infotext="Information text">
		<input formControlName="input" type="date" placeholder="Placeholder" slot="inputelement"/>
	</zoo-input>
	<zoo-button class="submit-button" size="small" (click)="submit(form)">
		<span slot="buttoncontent">Submit</span>
	</zoo-button>
</form>